<footer class="site-footer">
  <div class="footer-blur">
    <div class="footer-glass">
      <div class="wrapper">
        <p>{{ site.phone }} &bull; {{site.email}}</p>
      </div>
    </div>
    <p><small>This site was originally created by <a href="/thankyou" style='color:white'>students</a> as part of a <a href="https://cs410.net" target=_blank style='color:white'>CS410.net</a> project!</p>
    <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" style="position:absolute;right:10px;bottom:4px;"><img src="/WEB/images/cc.png"></a>
  </div>
</footer>



<script src="/WEB/javascript/util.js"></script>
