<div class="progs">
    <div>
        <div>
            <p>Undergraduate Programs</p>
            <p>The department offers a BS and BA in Computer Science and a BS in Information Technology.</p>
            <a href="{{ site.baseurl }}/undergraduate-programs">Read More</a>
        </div> 
    </div>
    <div>
        <div>
            <p>Graduate Programs</p>
            <p>The department of Computer Science at UMass Boston offers programs in graduate studies ...</p>
            <a href="{{ site.baseurl }}/graduate-programs">Read More</a>
        </div> 
    </div>
    <div>
        <div>
            <p>Honors Programs</p>
            <p>The department offers an Honors Program option for those who qualify. </p>
            <a href="{{ site.baseurl }}/honors-programs">Read More</a>
        </div> 
    </div>
    <div>
        <div>
            <p>Certificate Programs</p>
            <p>Students whose preparation in Computer Science is insufficient for admission ...</p>
            <a href="{{ site.baseurl }}/certificate-programs">Read More</a>
        </div> 
    </div>
</div>